{% extends "base.html" %}

{% block content %}
<h2> Registeration Page </h2>
    
<div class="container"> 
        <form action='' method="POST"> 
                {% csrf_token %}
                {% for field in form %}
                <div class="form--div">
                    {{field.label_tag}}
                    {{field}}
                    {% if field.help_text %}
                        <div class="bg-primary text-light rounded p-2 m-2">{{field.help_text}}</div>
                    {% endif %}
                    {% for error in field.errors %}
                        <div class="bg-danger text-white p-2 m-2 rounded">{{error}} </div>
                    {% endfor %}
                    
                </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary"> Submit </button>
            </form>
        </div>
{% endblock content %}